<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1_コピペ_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp1_コピペ_.Properties.Settings>
            <setting name="title1" serializeAs="String">
                <value />
            </setting>
            <setting name="title2" serializeAs="String">
                <value />
            </setting>
            <setting name="title3" serializeAs="String">
                <value />
            </setting>
            <setting name="title4" serializeAs="String">
                <value />
            </setting>
            <setting name="title5" serializeAs="String">
                <value />
            </setting>
            <setting name="title6" serializeAs="String">
                <value />
            </setting>
            <setting name="title7" serializeAs="String">
                <value />
            </setting>
            <setting name="title8" serializeAs="String">
                <value />
            </setting>
            <setting name="title9" serializeAs="String">
                <value />
            </setting>
            <setting name="title10" serializeAs="String">
                <value />
            </setting>
            <setting name="title11" serializeAs="String">
                <value />
            </setting>
            <setting name="title12" serializeAs="String">
                <value />
            </setting>
            <setting name="title13" serializeAs="String">
                <value />
            </setting>
            <setting name="title14" serializeAs="String">
                <value />
            </setting>
            <setting name="title15" serializeAs="String">
                <value />
            </setting>
            <setting name="title16" serializeAs="String">
                <value />
            </setting>
            <setting name="title17" serializeAs="String">
                <value />
            </setting>
            <setting name="title18" serializeAs="String">
                <value />
            </setting>
            <setting name="title19" serializeAs="String">
                <value />
            </setting>
            <setting name="title20" serializeAs="String">
                <value />
            </setting>
            <setting name="title21" serializeAs="String">
                <value />
            </setting>
            <setting name="title22" serializeAs="String">
                <value />
            </setting>
            <setting name="title23" serializeAs="String">
                <value />
            </setting>
            <setting name="title24" serializeAs="String">
                <value />
            </setting>
            <setting name="title25" serializeAs="String">
                <value />
            </setting>
            <setting name="title26" serializeAs="String">
                <value />
            </setting>
            <setting name="title27" serializeAs="String">
                <value />
            </setting>
            <setting name="title28" serializeAs="String">
                <value />
            </setting>
            <setting name="title29" serializeAs="String">
                <value />
            </setting>
            <setting name="title30" serializeAs="String">
                <value />
            </setting>
            <setting name="contents1" serializeAs="String">
                <value />
            </setting>
            <setting name="contents2" serializeAs="String">
                <value />
            </setting>
            <setting name="contents3" serializeAs="String">
                <value />
            </setting>
            <setting name="contents4" serializeAs="String">
                <value />
            </setting>
            <setting name="contents5" serializeAs="String">
                <value />
            </setting>
            <setting name="contents6" serializeAs="String">
                <value />
            </setting>
            <setting name="contents7" serializeAs="String">
                <value />
            </setting>
            <setting name="contents8" serializeAs="String">
                <value />
            </setting>
            <setting name="contents9" serializeAs="String">
                <value />
            </setting>
            <setting name="contents10" serializeAs="String">
                <value />
            </setting>
            <setting name="contents11" serializeAs="String">
                <value />
            </setting>
            <setting name="contents12" serializeAs="String">
                <value />
            </setting>
            <setting name="contents13" serializeAs="String">
                <value />
            </setting>
            <setting name="contents14" serializeAs="String">
                <value />
            </setting>
            <setting name="contents15" serializeAs="String">
                <value />
            </setting>
            <setting name="contents16" serializeAs="String">
                <value />
            </setting>
            <setting name="contents17" serializeAs="String">
                <value />
            </setting>
            <setting name="contents18" serializeAs="String">
                <value />
            </setting>
            <setting name="contents19" serializeAs="String">
                <value />
            </setting>
            <setting name="contents20" serializeAs="String">
                <value />
            </setting>
            <setting name="contents21" serializeAs="String">
                <value />
            </setting>
            <setting name="contents22" serializeAs="String">
                <value />
            </setting>
            <setting name="contents23" serializeAs="String">
                <value />
            </setting>
            <setting name="contents24" serializeAs="String">
                <value />
            </setting>
            <setting name="contents25" serializeAs="String">
                <value />
            </setting>
            <setting name="contents26" serializeAs="String">
                <value />
            </setting>
            <setting name="contents27" serializeAs="String">
                <value />
            </setting>
            <setting name="contents28" serializeAs="String">
                <value />
            </setting>
            <setting name="contents29" serializeAs="String">
                <value />
            </setting>
            <setting name="contents30" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ButtonKind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabName1" serializeAs="String">
                <value />
            </setting>
            <setting name="TabName2" serializeAs="String">
                <value />
            </setting>
            <setting name="TabName3" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp1_コピペ_.Properties.Settings>
    </userSettings>
</configuration>